body { 
  padding-top: 138px; 
}

@media screen and (max-width: 768px) {
  body { padding-top: 138px; }
  .lib-banner {display: none;}
}

@media screen and (max-width: 992px) {
    body { padding-top: 150px; }
    .lib-banner {display: none;}
}

/* #map-container {

} */

#map {
  border: 5px solid #333;
  width: 80vw;
  height: 80vh;
  left: 50%;
  transform: translateX(-50%);
}

.available-false img {
  filter: grayscale(100%);
}

.adopted-true {
  display: none;
}


.author {
  text-transform: uppercase;
  font-size: 11px;
  line-height: normal;
  font-weight: normal;
  letter-spacing: 0;
}

.title {
  margin-top: 2px;
  line-height: 17px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
}

#modal-author > a {
  border-bottom: 2px solid #FFC821;
  color: #000;
  text-decoration: none;
  line-height: 1.3;
  font-size: 14px;
  font-weight: bold;
  /* line-height: 19px; */
  letter-spacing: 0;
}

#modal-title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  letter-spacing: 0;
}

.modal-footer {
  padding: 2rem;
}

.modal-body p {
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0;
}

.navbar-light {
  padding-right: 5rem;
  padding-left: 1rem;
}

.btn-primary {
  font-size: 18px;
  letter-spacing: .2rem;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 500;
}

